
body {
  font-family: 'Open Sans', sans-serif;
}

.row-title {
  margin-top: 30px;
}

.page-title {
  font-weight: 800;
  font-size: 36px;
}

.row-title button {
  margin-top: 15px;
}

.row-news {
  border-top: 1px solid #ededed;
  margin-top: 30px;
}

.no-news {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
}
